html {
  --text-color: #333;
  --primary-color: #01579B;
  --accent-color: #4CAF50;
  --error-color: #C62828;
  --secondary-text-color: #616161;
  --anypoiont-dropdown-shaddow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  --anypoiont-autocomplete-dropdown-shaddow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  --anypoint-listbox-background-color: #fff;
  --error-color: #ca0e00;
  --success-color: #2E7D32;
  --info-color: #2196F3;
  --inactive-color: #757575;
  --link-color: var(--primary-color);
  --anypoint-button-color: var(--primary-color);
  --anypoint-icon-button-emphasis-low-color: var(--primary-color);
  --anypoint-button-emphasis-high-background-color: var(--primary-color);
  --anypoint-input-label-color: var(--text-color);
  --header-background-color: #eceef1;
  --header-color: #333;
  --title-color: #202124;
  --app-drawer-background-color: #fff;
  --page-background-color: #fff;
  --breadcrumb-chevron-color: #151515;
  --inactive-background-color: #FAFAFA;
  --opened-background-color: #E3F2FD;
  --code-background-color: #f5f2f0;
}

body {
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  html {
    --primary-color: #FFCC80;
    --text-color: #fff;
    --secondary-text-color: #F5F5F5;
    --primary-background-color: #424242;
    --link-color: #2196F3;
    --success-color: #AED581;
    --error-color: #FF8A65;
    --inactive-color: #78909C;
    --info-color: #64B5F6;
    --inactive-background-color: #212121;
    --anypoint-checkbox-label-color:  #F5F5F5;
    --anypoint-input-background-color: #494949;
    --anypoint-input-label-color: #fff;
    --anypoint-input-input-color: #fff;
    --anypoint-input-border-bottom-color: #fff;
    --anypoint-input-focused-border-bottom-color: #fff;
    --anypoint-input-label-background-color: rgb(66, 66, 66);
    --anypoint-input-legacy-focus-background-color: #3a3b3c;
    --anypoint-input-legacy-focus-border-color: #178bea;
    --anypoint-input-info-message-color: #fff;
    --anypoint-dropdown-menu-background-color: #494949;
    --anypoint-dropdown-menu-label-background-color: var(--primary-background-color);
    --anypoint-listbox-background-color: #212121;
    --anypoint-dropdown-menu-focus-background-color: #9E9E9E;
    --anypoint-dropdown-menu-label-color: #fff;
    --anypoint-dropdown-menu-info-message-color: #fff;
    --anypoint-item-hover-background-color: #616161;
    --anypoiont-autocomplete-background-color: #494949;
    --anypoint-icon-button-emphasis-low-color: #fff;
    --header-background-color: #212121;
    --header-color: #fff;
    --anypoint-button-color: #fff;
    --app-drawer-background-color: #212121;
    --anypoint-listbox-color: #fff;
    --title-color: #F5F5F5;
    --page-background-color: #212121;
    --anypoint-chip-background-color: #212121;
    --anypoint-chip-label-color: var(--text-color);
    --breadcrumb-chevron-color: #fff;
    --app-message-background-color: #37474F;
    --opened-background-color: #424242;
    --code-background-color: #263238;
  }

  body {
    background-color: #424242;
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {

}
