<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <base href="/status/">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <title>API Components CI Status</title>
    <meta name="description" content="Frontend for API components integration tests">
    <link rel="manifest" href="/status/manifest.json">
    <script src="/status/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
    <script type="module" src="/status/src/apic-ci-status/apic-ci-status.js" crossorigin></script>
  </head>
  <body>
    <apic-ci-status></apic-ci-status>
  </body>
</html>
